@CHARSET "UTF-8";
.del {
	display: none;
}

.del:not (:checked ) +label+* {
	display: none;
}  /* фактически нужна только одна строка */ /* вид CSS кнопки */
.del:not (:checked ) +label,.del:checked+label {
	display: inline-block;
	padding: 2px 10px;
	border-radius: 2px;
	color: #fff;
	background: #4e6473;
	cursor: pointer;
}

.del:checked+label {
	background: #e36443;
}


#content {
	
}

.fragment{
 	margin: 30px;
}
	

body {
	display: block;
	padding: 10px;
	padding-bottom: 30px;
}

table#authors td,table th {
	border: 1px dotted black;
}

table#authors {
	margin: auto;
	font-size: medium;
	/*margin: 5%;  Отступы вокруг элемента */
	/* background: #fd0;  Цвет фона */
	padding: 10px; /* Поля вокруг текста */
	/* border-style: dotted; */
	border-color: gray;
}

.numerated-table {
	counter-reset: tableRowIndex;
}


.numerated-table TR TD:first-child:before {
	counter-increment: tableRowIndex;
	content: counter(tableRowIndex);
}


table.table_on_index {
	width: 300px; /* Ширина таблицы */
	border: 1px solid green; /* Рамка вокруг таблицы */
	margin: auto; /* Выравниваем таблицу по центру окна  */
	padding: 50px;
}

table.table_on_publ_add{
	width: 700px; /* Ширина таблицы */
	border: 1px solid green; /* Рамка вокруг таблицы */
	margin: auto; /* Выравниваем таблицу по центру окна  */
	padding: 20px;
}

.statistica {
	width: 300px; /* Ширина таблицы */
	border: 3px solid red; /* Рамка вокруг таблицы */
	margin: 50px 50px 20px 500px; /* Выравниваем таблицу по центру окна  */
	padding: 10px;
	font-size: medium;
	float: none;
	
}
.center_title {
	/* margin: 0 40% 10px; */
	margin: 10px 25%;
	font-size: 1.5em;
	font-weight: bold;
}

button.button_on_index {
	width: 200px;
}

.empty_box {
	
}

.selected_tab {
	border-bottom-color: red;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

a.not_selected_tab { //
	border-bottom-color: red; //
	border-bottom-style: solid; //
	border-bottom-width: 3px;
	color: gray;
	text-decoration: none;
}

a.not_selected_tab:hover {
	border-bottom-color: red;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

#wrap {
	min-height: 100%;
	position: relative;
	border-bottom: 1px solid #73310A;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	box-shadow: 5px 5px 15px #000;
}

#header {
	background: #F0C040 url(images/logo_bg.png) repeat-x scroll 0 0;
	position: relative;
}

#lefter {
	background-color: #f0c040;
	border: 1px solid #883607;
	height: 598px;
	width: 158px;
}

#footer {
	text-align: center;
	/* background: #9C4210 url(../../images/nav_bg.png) repeat-x scroll 0 0; */
	background: #73310a;
	border: 1px solid #73310A;
	border-top-width: 0;
	font-size: .8em;
	/* line-height: 22px; */
	color: #fff;
	padding-right: 0px;
	font-size: 0.8em;
	/* border: 1px solid #73310a; */ /* background-color: #73310a; */
	/* height: 30px; */ /*box-shadow: 5px 5px 15px #000;
	-moz-box-shadow: 5px 5px 15px #000;
	-webkit-box-shadow: 5px 5px 15px #000; */
	position: absolute;
	bottom: 0;
	width: 100%;
}

.quick_panel {
	background-color: #f0c040;
	width: 200px;
	border: 5px;
	border-color: black;
	font-size: smaller;
	padding-bottom: 20px;
}

.comment_label {
	margin: 0 0 0 20%;
	font-size: small;
}

table.form {
	margin: auto;
	font-size: medium;
	width: 900px;
	/*margin: 5%;  Отступы вокруг элемента */
	/* background: #fd0;  Цвет фона */
	padding: 10px; /* Поля вокруг текста */
	/* border-style: dotted; */
	border-color: gray;
}

table.filter {
	margin-left: 20%;
	font-size: small;
	/*margin: 5%;  Отступы вокруг элемента */
	/* background: #fd0;  Цвет фона */
	padding: 1px; /* Поля вокруг текста */ /*border-style: dotted;*/
	border-style: groove;
	border-style: solid;
	
	 
}

table.panel {
	margin-left: 20%;
	font-size: small;
	/*margin: 5%;  Отступы вокруг элемента */
	/* background: #fd0;  Цвет фона */
	padding: 10px; /* Поля вокруг текста */ /*border-style: dotted;*/
	border-color: gray;
}

table.table_list {
	margin: 30px;
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	font-size: medium;
}

table.table_list th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: #F2CA5F;
	/*background-color: white*/;
	-moz-border-radius: ;
}

table.table_list tr:nth-child(even) {
	background: #CCC
}

table.table_list tr:nth-child(odd) {
	background: #FFF
}

table.table_list td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	-moz-border-radius: ;
}

.req_input {
	background-color: antiquewhite;
}

.read_only_input {
	background: #F0EAD8
}

select.select_form {
	width: 300px; /* Ширина списка в пикселах */
}